input {
  border: none !important;
}
.react-select-container {
  @apply outline-none border-0 rounded-full;
}
.react-select__value-container {
  @apply border border-[#C4C4C4] border-solid bg-white text-black text-[.9375rem]  outline-none pr-[px]   py-[10px] px-[23px];
}
.react-select__value-container:focus {
  @apply focus:outline-none focus:border-sky-500;
}
.react-select__value-container:active {
  @apply outline-none border-sky-500;
}

.react-select__value-container.css-1kwwvb1-ValueContainer2 {
  @apply border border-[#C4C4C4] border-solid border-r-0 bg-white text-black  text-[.9375rem]  outline-none pr-[px] rounded-full rounded-r-none  py-[10px] px-[23px] 
  focus:outline-none focus:border-sky-500;
}

.react-select__indicators {
  @apply bg-[#fff]   text-[#000] text-[.9375rem]   outline-none pr-[15px] rounded-full rounded-l-none border border-[#C4C4C4] border-solid border-l-0
  
  focus:outline-none focus:border-sky-500;
}
.react-select__value-container
  .react-select__value-container--has-value
  .css-1kwwvb1-ValueContainer2 {
  @apply focus:outline-none focus:border-sky-500;
}
.react-select__indicator-separator {
  display: none;
}
.react-select__control.css-nqaof0-control > di {
  /* border: none;
  box-shadow: none;
  border-color: none; */
  @apply outline-none border-sky-500;
}
.react-select__control.react-select__control--is-focused {
  outline: none;
  border: none;
  box-shadow: none;
  @apply focus:outline-none focus:border-sky-500;
}
select:focus {
  border-color: #2a6dc9 !important;
}

/* 
input {
  border: none;
}
.react-select-container {
  @apply outline-none border-0 rounded-full;
}
.react-select__value-container {
  @apply border border-[#C4C4C4] border-solid bg-white text-black text-[.9375rem]  outline-none pr-[px]   py-[10px] px-[23px] border-0;
}
.react-select__value-container:focus {
  @apply border-0;
}
.react-select__value-container:active {
  @apply border-0;
}

.react-select__value-container.css-1kwwvb1-ValueContainer2 {
  @apply border border-[#C4C4C4] border-solid border-r-0 bg-white text-black  text-[.9375rem]  outline-none pr-[px] rounded-full rounded-r-none  py-[10px] px-[23px];
}

.react-select__indicators {
  @apply bg-[#fff]   text-[#000] text-[.9375rem]   outline-none pr-[15px] rounded-full rounded-l-none border border-[#C4C4C4] border-solid border-l-0;
}

.react-select__indicator-separator {
  display: none;
}
.react-select__control.css-nqaof0-control {
  border: none;
  box-shadow: none;
  border-color: none;
}
.react-select__control.react-select__control--is-focused {
  outline: none;
  border: none;
  box-shadow: none;
} */
