table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  /* background: #eee; */
}
.con {
  /* background: #000; */

  @apply flex items-center;
}
thead {
  @apply text-[#ccc] font-black capitalize;
}
th {
  /* background: #333; */
  /* color: white; */
  font-weight: bold;

  @apply text-[#ccc] font-black capitalize;
}
td,
th {
  /* padding: 9px; */
  border-bottom: 2px solid #ededed;
  /* border: 1px solid #ccc; */
  /* text-align: left; */
  text-align: center;
  @apply py-5;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  td {
    text-align: left;
  }
  tbody {
    text-align: right;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    @apply my-5;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    display: flex;
    justify-content: flex-end;

    width: 97%;
    margin: 0 auto;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "id";
  }
  td:nth-of-type(2):before {
    content: "First Name";
  }
  td:nth-of-type(3):before {
    content: "Last Name";
  }
  td:nth-of-type(4):before {
    content: "Date of Birth";
  }
  td:nth-of-type(5):before {
    content: "age";
  }
  td:nth-of-type(6):before {
    content: "country";
  }
  td:nth-of-type(7):before {
    content: "phone number";
  }
  /* td:nth-of-type(6):before {
    content: "Secret Alias";
  }
  td:nth-of-type(7):before {
    content: "Date of Birth";
  }
  td:nth-of-type(8):before {
    content: "Dream Vacation City";
  }
  td:nth-of-type(9):before {
    content: "GPA";
  }
  td:nth-of-type(10):before {
    content: "Arbitrary Data";
  } */
}

/* Checkbox style */

.cb {
  margin: 4px;
  overflow: hidden;
  float: left;
  margin-bottom: 20px;
}

.cb label {
  float: left;

  cursor: pointer;
  text-transform: capitalize;
}

.cb label span {
  text-align: center;
  background-color: #a2a3a5;
  display: block;
  padding: 5px 15px;
  font-size: 12px;
}

.cb label input {
  position: absolute;
  display: none;
  color: #fff;
}
/* selects all of the text within the input element and changes the color of the text */
.cb label input + span {
  color: #fff;
}

/* This will declare how a selected input will look giving generic properties */
.cb input:checked + span {
  color: #ffffff;
  /* text-shadow: 0 0 6px rgba(0, 0, 0, 0.8); */
}
.action input:checked + span {
  /* @apply bg-[#E5E5E5]; */
  /* background-image: -webkit-linear-gradient(54deg, #01E2B4, #9BF14F) */
  @apply  bg-[#736efe];

}
