.gridContainer {
  position: relative;
  display: grid;
  gap: 1em;
  grid-template-columns:
    1fr 2fr
    1fr 1fr 1fr
    2fr 1fr
  /* grid-template-rows: repeat(3, 1fr); */
  /* grid-auto-rows: minmax(100px, auto); */
}

.gridItem {
  /* width: 100%;
  position: relative;
  height:400px;
  border-radius:30px */
}

.content {
  position: relative;
  background: #000;
}

.gridItm:before {
  width: 24px;
  height: 2px;
  background-color: white;
  display: block;
  opacity: 0.7;
  content: "";
  margin: 0 auto 24px;
  -webkit-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
  transition: width 0.3s ease-in;
}
.gridItem:hover::before {
  width: 54px;
}
/* description: `text-white uppercase 
font-[500] absolute z-50 top-0 bottom-0 
left-0 right-0 hover:bg-gradient-to-tl 
from-black 
bg-fixed flex items-end 
 justify-center transistion 
ease-out duration-1000
after:w-[24px] after:h-[2px] after:bg-white  */
