.leaflet-container {
  width: 100vw;
  /* height: 100vh; */
  height: 400px;
}

/* .map {
  width: 300px !important;
} */

/* #mapbox {
  display: none;
  width: 300px;
  height: 500px;
  border: 1px solid black;
} */
